# Turn on URL rewriting
RewriteEngine On
RewriteBase /Projects/ecms

# Allow any files or directories that exist to be displayed directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l

# Rewrite all other URLs to index.php/URL
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
